body
{
    background: rgb(230, 175, 225);
}


.copy_right_footer {
    position: fixed;
    color: rebeccapurple;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: aliceblue;
    line-height: 3;
    text-align: 3;
    text-align: center;
    text-shadow: 5px 5px 5px plum;
}